html {
  background-color: #333;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

time {
  font-size: 12px;
  font-style: italic;
  color: #333
}

.main-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: linear-gradient(#eef 0%, #fff 15%, #fff 90%, #eef 100%);
  font-family: 'verdana', sans-serif;
  width: 100%;
  max-width: 550px;
  min-height: 600px;
  color: #111;
  padding: 30px;
  box-shadow: 0 14px 28px #00000020, 0 10px 10px #00000022;
}

.note-item-label {
  display: block;
  text-align: left;
}

.note-submit-btn {
  margin-top: 15px;
}

.add-note {
  width: 100%;
  font-size: 14px;
}

.input {
  box-sizing: border-box;
  width: 100%;
  border: solid 1px #999;
  border-radius: 5px;
}

.notes-list {
  padding: 0;
  width: 100%;
  list-style: none;
}

.note-item-wrapper {
  margin-bottom: 20px;
}

.note-img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.note-body {
  text-align: left;
  margin-bottom: 0;
  white-space: pre-line;
}

.note-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 25px 10px;
  margin-bottom: 25px;
  list-style: none;
  border-radius: 5px;
  background: #ded;
  box-shadow: 0 14px 28px #00000020, 0 10px 10px #00000022;
}

.note-ui {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.btn {
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 3px;
  min-width: 30px;
  background: #000;
  color: #fff;
}

.note-remove-btn {
  background: #f66;
  color: #111;
}

@media screen and (max-width: 500px) {
  .btn {
    font-size: 18px;
    min-width: 2em;
    min-height: 2em;
  }
}